/* .product-card {
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}


.product-card .card-img-top {
    transition: transform 0.5s ease, opacity 0.5s ease;
    width: 100%;
    object-fit: cover;
}

.product-card:hover .card-img-top {
    transform: scale(0.85); 
}

.product-card:hover .card-body {
    opacity: 1;
    transform: translateY(0);
    cursor: pointer;
}


.card-body h5,
.card-body ul,
.card-body .btn {
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateY(20px); 
    opacity: 0;
}

.product-card:hover .card-body h5,
.product-card:hover .card-body ul,
.product-card:hover .card-body .btn {
    transform: translateY(0); 
    opacity: 1; 
}


.card-body h5 {
    transition-delay: 0.2s;
}

.card-body ul {
    transition-delay: 0.3s;
}

.card-body .btn {
    transition-delay: 0.4s;
}
.modal-body {
display: flex;
align-items: flex-start; 
}


#modalProductImg {
    max-width: 300px;  
    max-height: 300px; 
    object-fit: cover;  
}


@media (max-width: 767.98px) {
    .modal-body {
        display: flex;
        flex-direction: column; 
    }

    #modalProductImg {
        margin: 0 auto; 
        display: block;  
    }

    .flex-grow-1 {
        align-self: flex-start; 
        text-align: left;       
        margin-top: 15px;      
    }
}


#modalAdditionalImages img {
margin: 5px;
width: 100px; 
height: 100px; 
} */